<div class="about-container">
    <!-- Título de la sección -->
    <h1>Sobre mí</h1>
    
    <!-- Contenido de la sección -->
    <div class="about-content">
        <p>Soy un desarrollador web full stack en proceso de aprendizaje con 2 años de experiencia, durante los cuales he trabajado en diversos proyectos personales y colegiales. Desarrollo aplicaciones web utilizando tecnologías como React, JavaScript, Python, entre otras. Hablo español y catalán, y, lo más importante, me apasiona el fútbol.</p>
    </div>

    <!-- Botón Saber Más -->
    <a href="{{ url_for('information') }}" class="btn-more">Saber más</a>
</div>
