<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <iframe src="/templates/header.html" frameborder="0" class="content-frame"></iframe>
        </div>
        <div class="about">
            <iframe src="/templates/about.html" frameborder="0" class="content-frame"></iframe>
        </div>
        <div class="contact">
            <iframe src="/templates/contact.html" frameborder="0" class="content-frame"></iframe>
        </div>
        <div class="skills">
            <iframe src="/templates/skills.html" frameborder="0" class="content-frame"></iframe>
        </div>
        <div class="projects">
            <iframe src="/templates/projects.html" frameborder="0" class="content-frame"></iframe>
        </div>
        <div class="logo">
            <iframe src="/templates/logo.html" frameborder="0" class="content-frame"></iframe>
        </div>
        <div class="settings">
            <iframe src="/  /settings.html" frameborder="0" class="content-frame"></iframe>
        </div>
    </div>
</body>
</html>
