<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <div class="container">
        {% if is_authenticated %}
        <h3>Opciones de desarrollador</h3>
        {% endif %}
        
        <!-- Contenido de cada sección sin iframe -->
        <div class="header">
            {% include 'header.html' %}
        </div>
        <div class="about">
            {% include 'about.html' %}
        </div>
        <div class="contact">
            {% include 'contact.html' %}
        </div>
        <div class="skills">
            {% include 'skills.html' %}
        </div>
        <div class="projects">
            {% include 'projects.html' %}
        </div>
        <div class="logo">
            {% include 'logo.html' %}
        </div>
        <div class="settings">
            {% include 'settings.html' %}
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const theme = sessionStorage.getItem("theme") || "dark";
            if (theme === "light") {
                document.body.classList.add("light-theme");
            }
        });

        function toggleTheme() {
            document.body.classList.toggle("light-theme");
            const theme = document.body.classList.contains("light-theme") ? "light" : "dark";
            sessionStorage.setItem("theme", theme);
        }
    </script>
</body>

</html>
   