<div class="contact-container">
    <div class="icons-grid">
        <a href="https://github.com/coronel07" target="_blank" class="icon-circle github" data-name="GitHub">
            <img src="/static/social/github.svg" alt="GitHub Icon" class="icon">
        </a>
        <a href="mailto:d51702027@alumnos.itr.edu.ar" class="icon-circle gmail" data-name="Gmail">
            <img src="/static/social/gmail.svg" alt="Gmail Icon" class="icon">
        </a>
        <a href="https://www.instagram.com/nico.coroo/" target="_blank" class="icon-circle instagram" data-name="Instagram">
            <img src="/static/social/instagram.svg" alt="Instagram Icon" class="icon">
        </a>
    </div>
</div>
