<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Más sobre mí</title>
    <link rel="stylesheet" href="/static/css/information.css">
</head>

<body>
    <div class="more-about-container">
        <header>
            <h1>Más sobre mí</h1>
        </header>

        <!-- Introducción -->
        <section class="about-section">
            <p>Hola, gracias por querer saber más sobre mí. Soy un desarrollador web apasionado por aprender
                constantemente y mejorar mis habilidades. Además, disfruto trabajar en equipo, asumir roles de liderazgo
                y aportar soluciones innovadoras. Cuando no estoy programando, me encanta jugar fútbol y pasar tiempo
                con mis amigos y familia.</p>

            <!-- Botón de descargar CV -->
            <a href="/static/logo/curriculum vitae CV trabajo.pdf" class="btn-download" download>Descargar CV</a>
        </section>

        <!-- Certificados -->
        <section class="certificates-section">
            <h2>Certificados</h2>
            <div class="certificates-container">
                <div class="certificate-item">
                    <img src="/static/logo/roboticaI.png" alt="Robótica I">
                    <p>Introducción a la Robótica I</p>
                </div>
                <div class="certificate-item">
                    <img src="/static/logo/roboticaII.png" alt="Robótica II">
                    <p>Proyectos de Robótica II</p>
                </div>
                <div class="certificate-item">
                    <img src="/static/logo/oniet.png" alt="ONIET">
                    <p>Participación en ONIET</p>
                </div>
                <div class="certificate-item">
                    <img src="/static/logo/tech.png" alt="Mercado Libre">
                    <p>Participacion en tech camp</p>
                </div>
                <div class="certificate-item">
                    <img src="/static/logo/code.png" alt="Junior Achievement">
                    <p>Junior Achievement</p>
                </div>
            </div>
        </section>

        <!-- Botón de volver -->
        <footer>
            <a href="/" class="btn-back">Volver al inicio</a>
        </footer>
    </div>
</body>

</html>
