<div class="skills-content">
    <h2>Habilidades</h2>
    <div class="icons-grid">
        <img src="/static/skills/bootstrap.svg" alt="Bootstrap Icon" class="icon">
        <img src="/static/skills/css.svg" alt="CSS Icon" class="icon">
        <img src="/static/skills/express.svg" alt="Express Icon" class="icon">
        <img src="/static/skills/git.svg" alt="Git Icon" class="icon">
        <img src="/static/skills/html.svg" alt="HTML Icon" class="icon">
        <img src="/static/skills/javascript.svg" alt="JavaScript Icon" class="icon">
        <img src="/static/skills/node.svg" alt="Node Icon" class="icon">
        <img src="/static/skills/react.svg" alt="React Icon" class="icon">
        <img src="/static/skills/python.svg" alt="Python Icon" class="icon">
        <img src="/static/skills/sql.svg" alt="SQL Icon" class="icon">
    </div>
</div>
