<div class="skills-content">
    <div class="h1-logo"><h2>Habilidades</h2></div>
    <div class="icons-grid">
        <div class="icon-circle" style="background-color: #563d7c;" data-name="Bootstrap">
            <img src="/static/skills/bootstrap.svg" alt="Bootstrap Icon" class="icon">
        </div>
        <div class="icon-circle" style="background-color: #264de4;" data-name="CSS">
            <img src="/static/skills/css.svg" alt="CSS Icon" class="icon">
        </div>
        <div class="icon-circle" style="background-color: #333333;" data-name="Express">
            <img src="/static/skills/express.svg" alt="Express Icon" class="icon">
        </div>
        <div class="icon-circle" style="background-color: #f34f29;" data-name="Git">
            <img src="/static/skills/git.svg" alt="Git Icon" class="icon">
        </div>
        <div class="icon-circle" style="background-color: #e34c26;" data-name="HTML">
            <img src="/static/skills/html.svg" alt="HTML Icon" class="icon">
        </div>
        <div class="icon-circle" style="background-color: #f0db4f;" data-name="JavaScript">
            <img src="/static/skills/javascript.svg" alt="JavaScript Icon" class="icon">
        </div>
        <div class="icon-circle" style="background-color: #339933;" data-name="Node.js">
            <img src="/static/skills/node.svg" alt="Node.js Icon" class="icon">
        </div>
        <div class="icon-circle" style="background-color: #61dafb;" data-name="React">
            <img src="/static/skills/react.svg" alt="React Icon" class="icon">
        </div>
        <div class="icon-circle" style="background-color: #3776ab;" data-name="Python">
            <img src="/static/skills/python.svg" alt="Python Icon" class="icon">
        </div>
        <div class="icon-circle" style="background-color: #f29111;" data-name="SQL">
            <img src="/static/skills/sql.svg" alt="SQL Icon" class="icon">
        </div>
    </div>
</div>
